/* styles/BlogPost.module.css */

.post {
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .post h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .date {
    color: #cbcaca;
    font-size: 0.9rem;
    margin-bottom: 30px;
  }
  
  .content {
    line-height: 1.6;
    color: #333;
  }
  